<div id="timer">

  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex align-items-center">
        <a routerLink="/"><img class="logo" src="images/ub-logo.png"/></a>
        <div class="title-container">
          <h1 class="heading">{{timer.name}}</h1>
          <div *ngIf="showHeatHeader" class="heat-header">
            <span *ngIf="showNextHeatPrep">NEXT HEAT {{currentHeat + 1}} - {{nextHeatPrep}}</span>
            <span *ngIf="!showNextHeatPrep">HEAT {{currentHeat}}</span>
          </div>
        </div>
        <img class="sponsor-logo" src="images/{{timer.logo}}"/>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col d-flex justify-content-center">

        <div class="timer">
          <!-- <div *ngIf="false && !running && !paused && !done"> -->
          <div *ngIf="(init && prep > 0) || prepping" class="prep">
            <span class="timer-char" *ngFor="let char of getPrepChars()">{{char}}</span>
          </div>
          <!-- <div class="elapsed" *ngIf="init || prep || running || paused || done"> -->
          <div class="elapsed" *ngIf="(init && prep <= 0) || running || paused || done">
            <span [ngClass]="getTypeClass()">
              <span *ngIf="false && round" class="round">{{round}}&nbsp;</span>
              <span class="timer-char" *ngFor="let char of getElapsedChars()">{{char}}</span>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="row" style="display: none;">
      <div class="col d-flex justify-content-center">
        <img src="/images/men.png" style="height: 80px; max-width: 100%; object-fit: constrain;"/>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="action-buttons">
          <span class="debug">{{state}}, p={{prep}}, r={{round}}, m={{multiIndex}}, e={{elapsed}}, h={{currentHeat}}/{{totalHeats}}</span>
          
          <button type="button" class="btn btn-outline-dark" *ngIf="init" (click)="start()">START</button>
          
          <!-- Sync adjustment buttons (only when running or paused) -->
          <button type="button" class="btn btn-outline-dark sync-btn" *ngIf="running || paused" (click)="adjustSync(-50)">
            −
          </button>
          <button type="button" class="btn btn-outline-dark sync-btn" *ngIf="running || paused" (click)="adjustSync(50)">
            +
          </button>
          
          <button type="button" class="btn btn-outline-dark" *ngIf="false && running" (click)="pause()">PAUSE</button>
          <button type="button" class="btn btn-outline-dark" *ngIf="paused" (click)="continue()">CONTINUE</button>
          <button type="button" class="btn btn-outline-dark" *ngIf="done" (click)="reset()">RESET</button>
          <button type="button" class="btn btn-outline-dark"  *ngIf="prepping || running || paused" (click)="stop()">STOP</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Weights banner -->
  <div *ngIf="timer.weights" class="weights-banner">
    <img [src]="'images/' + timer.weights" alt="Weights" class="weights-image"/>
  </div>

  <!-- Clock banner -->
  <div *ngIf="timer.clock" class="clock-banner">
    <div class="clock-display">
      <span class="clock-char" *ngFor="let char of getClockChars()">{{char}}</span>
    </div>
  </div>

</div>