#timer {
  color: white;
  background-color: black;
  height: 100vh;
  position: relative;
}

h1.heading {
  line-height: 2;
}

.logo, .sponsor-logo {
  object-fit: contain;
  max-width: 20vw;
  max-height: 100px;
  margin: 10px;
}

h1 {
  font-family: ViperNora;
  font-size: 300% !important;
  margin: 10px;
}

.timer {
  margin-top: 50px;
  line-height: 1;
  font-family: ViperNora;
  font-size: 25vw;

  .prep {
    color: darkorange;
  }

  .elapsed {
    .round {
      color: darkorange;
    }
    .counter {}
    .interval {
      // font-size: 20vw;
    }
    .rest {
      color: darkorange;
    }
    .done {
      color: #777;
    }
  }
}

.action-buttons button {
  margin: 5px;
}

.debug {
  color: #333;
  font-size: 75%;
}

.weights-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh; /* One fifth of viewport height */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.weights-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}